In [24]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd  
%matplotlib inline

In [38]:
df = pd.read_csv('POPs_MamiferosMarinhos_02ago.csv', index_col= 0)
#df.index = make_index(df)
df.head()

,REF,Regiao,Estado,Area_Estudo,Referencia,Longitude,Latitude,n_amostral,Especie,Nome comum,...,HCB_SD,HCB_Min.,HCB_Max,Mirex_ng/g,Mirex_Mean,Mirex_Median,Mirex_SD,Mirex_Min,Mirex_Max,Obs
COD,,,,,,,,,,,,,,,,,,,,,
A01,POP01,SE,RJ,Baía de Guanabara- RJ,Da Silva et al. 2003,43.13792W,22.78052S,1,Sotalia guianensis,Guiana Dolphin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Corrigido fluviatilis para guianensis/ Convert...
A02,POP01,SE,RJ,Baía de Guanabara- RJ,Da Silva et al. 2003,43.13792W,22.78052S,1,Sotalia guianensis,Guiana Dolphin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Corrigido fluviatilis para guianensis/ Convert...
A03,POP02,SE,SP,Estuário de Cananéia- SP,Yogui et al. 2003,47.929726W,25.053629S,1,Sotalia guianensis,Guiana Dolphin,...,NaN,NaN,NaN,178,NaN,NaN,NaN,NaN,NaN,Corrigido fluviatilis para guianensis
A04,POP02,SE,SP,Estuário de Cananéia- SP,Yogui et al. 2003,47.929726W,25.053629S,1,Sotalia guianensis,Guiana Dolphin,...,NaN,NaN,NaN,99,NaN,NaN,NaN,NaN,NaN,Corrigido fluviatilis para guianensis/ femea c...
A05,POP02,SE,SP,Estuário de Cananéia- SP,Yogui et al. 2003,47.929726W,25.053629S,1,Sotalia guianensis,Guiana Dolphin,...,NaN,NaN,NaN,235,NaN,NaN,NaN,NaN,NaN,Corrigido fluviatilis para guianensis

In [41]:
df = df.dropna()
df = df.loc[df["Longitude"] != "Longitude"]

df[["Longitude", "Latitude"]]

Empty DataFrame
Columns: [Longitude, Latitude]
Index: []